$primary-color: #eacdc2;
$secondary-color: #372549;

$panel-bg-color: #c5cae9;
$accordion-title-color: #e0f2f1;

$accordion-1-bg-color: #1a237e;
$accordion-2-bg-color: #303f9f;
$accordion-3-bg-color: #00838f;
$accordion-4-bg-color: #880e4f;
$accordion-5-bg-color: #2e7d32;
$accordion-6-bg-color: #d84315;

$main-bg-color: #7e57c2;